@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --blue: #0000ff;
  --red: #ff0000;
}

html {
  margin:0;
  padding:0;
  height:100%; /* needed for container min-height */
}

body {
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}