.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 32px;
  margin: 16px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.default-layout {
  .ant-layout-sider-zero-width-trigger {
    top: 12px !important; // custom btn Trigger Sider
  }

  &-sider {
    z-index: 10;
  }

  &-site-layout {
    z-index: 1;
  }

  &-content {
    height: 100vh;
    height: calc(var(--window-height) - 20px - 64px);
    min-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 10px 10px;
    padding: 10px;
  }
}
